[Unit]
Description=DB Observer for chatbot

[Service]
User=dolidoli
WorkingDirectory=/home/dolidoli/www
ExecStart=/home/dolidoli/www/venv/bin/python /home/dolidoli/www/dbobserver.py
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
